<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Suma</title>
    </head>
    <body>
        <h1>Suma</h1>
        <form action="" method="post">
            Ingrese el primer valor<input type="text" id="numero1" name="numero1">
            <br>
            <br>
            Ingrese el segundo valor<input type="text" id="numero2" name="numero2">
            <br>
            <br>
            <button type="submit" value="sumar" name="operacion"> sumar
            <button type="submit" value="restar" name="operacion"> restar
            <button type="submit" value="multiplicar" name="operacion"> multiplicar
            <button type="submit" value="dividir" name="operacion"> dividir
        </form>
    </body>
</html>